/* .AddMatch {
  text-align: center;
  display: inline-flex;
}

.AddTeam1Dropdown {
  margin-right: 10px;
  text-align: center;
}

.AddTeam2Dropdown {
  margin-left: 10px;
  margin-right: 10px;
} */

/* .content {
  text-align: center;
} */

/* .FormAddMatch {
  width: 750px;
} */
